In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 用range快速生成list

In [5]:
list (range(1,11,2))

[1, 3, 5, 7, 9]

In [6]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [7]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# for 回圈

In [8]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
s = 0
for i in range(1,101):
    s = s+i
    print(s)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [18]:
s

5050

# list append

In [19]:
##去德国旅行，看到3个物品的价格，假设用（欧元）
prices = [1024,399,20000]

In [20]:
c = 34.1415677

In [21]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [22]:
L = []

In [23]:
L

[]

In [24]:
L.append(87)

In [25]:
L

[87]

In [26]:
L.append("X")

In [27]:
L

[87, 'X']

In [34]:
P = []

In [35]:
P

[]

In [36]:
for p in prices:
    P.append(p*c)

In [37]:
P

[34960.9653248, 13622.485512300002, 682831.354]

# 字串分割

In [38]:
spam = input("请输入你要买的东西的价格")

请输入你要买的东西的价格1024,399,20000,600

In [39]:
spam

'1024,399,20000,600'

In [41]:
data = spam.split(',')

In [42]:
data

['1024', '399', '20000', '600']

In [44]:
for p in data:
    print(p)

1024
399
20000
600

In [45]:
for p in data:
    p = float(p)
    #没有办法直接print（p*c）因为p在这里是字串，把它换成浮点数/整数就可以了
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

In [46]:
p_list = []
spam = input("输入你要买的东西价格：")
data = spam.split(',')

for p in data:
    p = float(p)
    p_list.append(p*c)
    print("价格",int(p*c),"台币")

输入你要买的东西价格：399,200,9487,249
价格 13622 台币
价格 6828 台币
价格 323901 台币
价格 8501 台币

In [47]:
spam = '399 199 1024 250'

In [49]:
spam.split(' ')#输入空格键，用空格键隔开数字

['399', '199', '1024', '250']

In [50]:
#空白比较不容易发现，多按或者少按空白
spam = '   399    199 1024   9487'

In [51]:
spam.split(' ')

['', '', '', '399', '', '', '', '199', '1024', '', '', '9487']

In [52]:
#直接打split()即可
spam.split()

['399', '199', '1024', '9487']

In [53]:
def exchange(p):
    p = float(p)
    return p*c

In [55]:
exchange('399')

13622.485512300002

# map
map(f,L)

把f这个函数作用到List中的每一个元素

In [56]:
L = '333   1024   488 20000'.split()

In [57]:
L

['333', '1024', '488', '20000']

In [61]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

# 紧急临时要用的函数 lambda

In [62]:
def f(x):
    return x**2

In [63]:
f(2)

4

In [65]:
g = lambda x:x**2

In [66]:
g(3)

9

In [67]:
L

['333', '1024', '488', '20000']

In [68]:
map(lambda p:float(p)*c,L)
#直接运行会看不到

In [69]:
list(map(lambda p:float(p)*c,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

In [70]:
grades = [47,56,60,75]

In [71]:
list(map(lambda g:np.sqrt(g)*10,grades))

[68.55654600401044, 74.83314773547883, 77.45966692414834, 86.60254037844388]

In [72]:
#做测试
egg = [9,4,8,7]

In [76]:
list(map(lambda g:float(g)+1,egg))

[10.0, 5.0, 9.0, 8.0]

# list comprehension

In [77]:
L

['333', '1024', '488', '20000']

In [78]:
#全部换算成台币的另一种做法，先把价格换成浮点数再乘汇率c
[float(p)*c for p in L]

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

# 合并list

In [79]:
#把L list里面用逗点把数字全部连起来
L

['333', '1024', '488', '20000']

In [82]:
s =''
for i in L:
    s = s + i

In [83]:
s

'333102448820000'

In [84]:
s =''
for i in L:
    s = s + i + ','

In [85]:
s

'333,1024,488,20000,'

In [87]:
#去掉右边的逗号显示出来，但不会改变s的内容
s.rstrip(',')

'333,1024,488,20000'

In [88]:
s[0]

'3'

In [89]:
#取到最后一个逗号之前
s[:-1]

'333,1024,488,20000'

In [90]:
#用join让逗号进去
','.join(L)

'333,1024,488,20000'

# 物件中的method

In [91]:
beef = [12,87,55,77,32]

In [92]:
#打beef.然后按Tab键，会出现它可以用的功能；点选好功能後，在括号内按shift+Tab会显示使用说明
beef.sort()

In [94]:
beef

[12, 32, 55, 77, 87]

In [95]:
ham = "今天天气很好"

In [96]:
ham[3]

'气'

In [97]:
ham[::2]

'今天很'

In [98]:
ham[::-1]

'好很气天天今'

In [108]:
#做互動模式
from ipywidgets import interact

In [115]:
def move(n=1):
    print(""*n + "(〃∀〃)")

In [116]:
move()

(〃∀〃)

In [117]:
interact(move,n=(1,40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…